.label{    
    padding-top: 2px;
    text-align: right;
    padding-right: 10px;
}

.infoPlayer{
    margin: 10px;
}

.inputPlayers{
    width: 20%;
    height: 30px;
}

.subText{
    font-size: 0.8rem;
}